/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #36534d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo {
    display: flex;
    align-items: center;
  }

  header .logo img {
    height: 80px;
    transition: transform 0.3s ease;
  }
  
  .logo img:hover {
    transform: scale(1.05);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
      display: inline;
      margin-right: 20px;
      margin-left: 20px;
  }
  
  nav ul li a {
      color: white;
      text-decoration: none;
      font-size: 18px;
  }
  
  nav ul li a:hover {
      text-decoration: underline;
  }

main {
    padding: 20px;
}

.menu-upload-section {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.menu-upload-section h1 {
    margin-bottom: 30px;
    color: #4CAF50;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    color: #555;
}

.input-group input, 
.input-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

.input-group input[type="file"] {
    padding: 5px;
}

.input-group input[type="date"],
.input-group input[type="number"] {
    max-width: 200px;
}

.submit-button {
    background-color: #36534d;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    background-color: #36534d;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive design */
@media (max-width: 768px) {
    .menu-upload-section {
        margin: 20px;
        padding: 20px;
    }

    .input-group input[type="date"],
    .input-group input[type="number"] {
        max-width: 100%;
    }
}

/* Success and error message styles */
.success-message {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.error-message {
    background-color: #f44336;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}