/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('../RESOURCES/signups.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Header */
header {
    background-color: #36534d;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

header .logo img {
    height: 80px;
}

/* Main Content */
main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 214px);
    background-color: rgba(244, 244, 244, 0.2);
}

.signup-selection {
    text-align: center;
}

.signup-selection h1 {
    font-size: 32px;
    color: #36534d;
    margin-bottom: 40px;
}

.signup-options {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.option {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    /* width: 250px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.option:hover {
    transform: translateY(-10px);
}

.option h2 {
    font-size: 24px;
    color: #36534d;
    margin-bottom: 20px;
}

.option p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
}

.signup-button {
    background-color: #36534d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.signup-button:hover {
    background-color: #2a423c;
}

/* Footer */
footer {
    background-color: #36534d;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
